@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
  color: black;
  /* padding-left: 20px;
  padding-right: 20px; */
  width: 100%;
}

.animation {
  transition: all .2s ease-in;
}

.active-item svg path {
  fill: #FF5174;
}

.active-item p {
  color: #FF5174;
}

.active-item svg path,
.post-tile:hover svg path
{
  fill: #FF5174;
}
.hover-red:hover svg path{
  stroke: #FF5174;
}
.active-item p {
  color: #FF5174;
}

.post-tile:hover {
  background-color: #FF5174;
}

.post-tile:hover h6 {
  color: white
}

.post-tile:hover svg circle{
  fill: white;
}